
<h1><%=@message.title%></h1>
<div><%=@message.content%></div>
<div><%= image_tag User.find(@message.sender_id).avatar(:mini) %></div>
<div><%= image_tag User.find(@message.receiver_id).avatar(:mini) %></div>

